//- Main Head
mixin Head(name)
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="description", content="Discover the World is a site for people with high taste and refined sense, as it includes the most beautiful and wonderful pictures and videos, selected from the charming nature.")
  title #{name}
  link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")
  link(rel="stylesheet", href="css-files/libraries/customize.css")
  link(rel="stylesheet", href="css-files/libraries/all.min.css")
  link(rel="stylesheet", href="css-files/style.css")
  link(rel="preconnect", href="https://fonts.googleapis.com")
  link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap", rel="stylesheet")
  script(src="js-files/main.js", defer)

//- Main Nav
mixin nh()
  nav
    .max-width
      .logo #[a(href="") Discover The World]
      .links
        label(for="checkbox") #[i(class="icon-bars")]
        input(type="checkbox", id="checkbox")
        ul.menu
          li.active #[a(href="index.html") Home]
          li #[a(href="blog.html") Blog]
          li #[a(href="https://www.facebook.com/aktashefalaalm", target="_blank") Page]
        ul.lmenu
          li.active #[a(href="index.html") Home]
          li #[a(href="blog.html") Blog]
          li #[a(href="https://www.facebook.com/aktashefalaalm", target="_blank") Page]
          div
            a(href="https://www.facebook.com/kareem1911/", target="_blank") #[i(class="icon-facebook")]
            a(href="https://github.com/kareem-m", target="_blank") #[i(class="icon-github")]

mixin nb()
  nav(style="background-color: #111;")
    .max-width
      .logo #[span Discover The World]
      .links
        label(for="checkbox") #[i(class="icon-bars")]
        input(type="checkbox", id="checkbox")
        ul.menu
          li #[a(href="index.html") Home]
          li.active #[a(href="blog.html") Blog]
          li #[a(href="https://www.facebook.com/aktashefalaalm", target="_blank") Page]
        ul.lmenu
          li #[a(href="index.html") Home]
          li.active #[a(href="blog.html") Blog]
          li #[a(href="https://www.facebook.com/aktashefalaalm", target="_blank") Page]
          div
            a(href="https://www.facebook.com/kareem1911/", target="_blank") #[i(class="icon-facebook")]
            a(href="https://github.com/kareem-m", target="_blank") #[i(class="icon-github")]

//- main Loading
mixin loader()
  .loader
    svg(class="plane" width="135px" height="66px" viewBox="0 0 135 66" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
      g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
        g(id="1.0.1-Select-Dates-Copy-27" transform="translate(-95.000000, -143.000000)")
          g(id="plane_1" transform="translate(90.000000, 128.000000)")
            path(d="M126.078835,15.0030457 C125.461384,15.0108637 124.789222,15.0655939 124.140507,15.1281422 C121.530018,15.3705172 118.677235,16.0194559 115.761928,17.3173313 C115.761928,17.3173313 104.538383,22.3602842 95.2531661,26.5119254 L72.681023,19.5690686 C71.1725665,19.1077747 69.5390567,18.9044939 67.9915195,18.8810378 C66.4439844,18.8575817 65.0449487,18.9904982 63.7397031,19.5690686 L60.6133674,20.9451303 C60.0897057,21.1796873 59.4566233,21.5549769 59.1127264,22.321192 C58.7688294,23.0874092 58.8704348,24.0178131 59.1752531,24.6354776 C59.7692568,25.8395326 60.7384209,26.4650152 62.1140085,27.1999563 L62.1765353,27.2625045 L75.4321983,35.33123 C68.7574727,38.3179103 59.7223628,42.3679091 59.2377798,42.586828 C58.8157255,42.7744728 58.8157255,42.7041065 58.4874592,42.586828 C58.159195,42.4695495 57.5651912,42.09426 56.799238,41.5235076 C54.0871413,39.5219633 50.0776164,36.6056512 48.9208722,35.7065195 C47.1388609,34.3460959 45.020768,34.3304578 43.105888,34.9559404 C42.1523566,35.2686817 41.1831926,35.7925239 40.5422928,36.8323882 C39.9013939,37.8722525 39.8154196,39.3812307 40.3547126,40.5852837 C41.6912216,43.5876002 45.9117747,52.8760167 47.4827578,56.4099933 C48.3346838,58.3255333 50.1166951,59.6468668 52.2973147,60.2254372 C54.4779343,60.8040096 57.1040562,60.7805535 60.2382072,60.3505337 C66.5065111,59.4826761 74.9397999,56.7696468 85.5615257,52.0316152 C86.397821,51.6563256 87.3591697,51.2419439 88.2501744,50.8431983 L83.6231976,75.2995676 L83.6231976,75.4246642 C83.2558527,76.9180043 83.0682726,78.0673291 83.5606709,79.3026562 C83.8185931,79.9359569 84.4516776,80.6083516 85.2488922,80.8663627 C86.0461087,81.1243738 86.7260852,80.9680031 87.249747,80.7412662 L90.3760826,79.3652045 C91.6735129,78.7866341 92.736467,77.7858619 93.752525,76.6130811 C94.7685851,75.4403022 95.7221165,74.0407844 96.378647,72.6099925 L96.3161203,72.6099925 L111.197478,40.397639 C118.622526,36.9183925 125.750571,33.4547822 130.955919,30.515014 C133.636752,28.9982197 135.833003,27.622158 137.39617,26.3868289 C138.177754,25.7691643 138.771758,25.20623 139.271972,24.5103811 C139.772185,23.8145322 140.319295,22.6730255 139.772185,21.4455164 C138.529467,18.6621189 135.418764,16.5980263 131.206026,15.56598 C129.627227,15.1828724 127.939006,14.9717716 126.078835,15.0030457 Z M126.078835,19.0061343 C127.61074,19.0061343 129.017591,19.2015971 130.268125,19.5065204 C133.152169,20.2101893 134.910735,21.6175251 135.645422,22.5713851 C135.442212,22.7824859 135.29371,22.9466746 134.895102,23.2594159 C133.652383,24.244552 131.612449,25.5502454 129.017591,27.0123115 C123.835689,29.9364436 116.527881,33.5095124 108.883989,37.0825812 L108.196196,37.3953225 L107.883562,38.0833534 L92.6895709,70.9837377 C92.2284359,71.9923279 91.5328268,73.0869225 90.7512429,73.9860542 C89.9696589,74.8851859 89.0630216,75.5341246 88.7503881,75.6748572 L87.4998538,76.2377915 L87.4998538,76.1752433 L92.8146244,47.8408818 L93.5649449,44.0879863 L90.063449,45.6516927 C87.8984621,46.6211908 85.8507113,47.5515966 83.9358312,48.4038161 C73.5173182,53.0480254 65.3575823,55.6359581 59.7379935,56.4099933 C56.9321068,56.800921 54.7514892,56.7149166 53.3602688,56.3474451 C51.9690505,55.9799736 51.4141254,55.4639514 51.1093072,54.7837386 C49.5305087,51.2497619 45.3724823,41.9535274 44.0437886,38.959029 C44.0125253,38.8808447 43.9968946,38.9121188 43.9812619,38.8964807 C44.051604,38.8417505 44.1844748,38.7635662 44.3564222,38.708836 C45.044216,38.482099 46.310383,38.7635662 46.4823304,38.8964807 L46.4823304,38.8339325 C47.7875761,39.8425227 51.7033109,42.7744728 54.4232229,44.7760171 C55.2204395,45.3624075 56.0254694,46.0035262 57.1118716,46.4022719 C58.1982737,46.8010175 59.6129401,46.7775614 60.8634743,46.2146271 C61.4340301,45.964434 71.4695674,41.4453233 80.1217017,37.5829673 C80.1920438,37.5516932 80.2389398,37.6142414 80.3092819,37.5829673 C80.5046773,37.5282371 80.7000748,37.4422347 80.8720223,37.3327743 C80.9032856,37.3171382 80.9032856,37.2858641 80.934549,37.270226 C80.957997,37.2467699 80.9736277,37.2311338 80.9970757,37.2076777 C87.6639859,34.2366354 88.7972841,33.7206133 95.5657997,30.7026588 C95.6283264,30.6870227 95.6908531,30.6635666 95.7533798,30.6401105 C95.7768279,30.6322925 95.7924585,30.6479285 95.8159066,30.6401105 C96.2379629,30.5932003 96.6287538,30.4211916 96.9413874,30.1397244 C96.9648354,30.1162683 96.9804661,30.1006323 97.0039141,30.0771762 C106.203156,25.9802652 117.387622,21.0076786 117.387622,21.0076786 C119.919954,19.8818099 122.350681,19.2719654 124.515668,19.0686825 C125.05496,19.0217723 125.570806,19.0061343 126.078835,19.0061343 Z M67.9289928,22.8841264 C69.1170003,22.9075825 70.4300613,23.0561351 71.4930154,23.3845124 L89.7508155,28.9513075 C84.9597066,31.0935864 84.4673082,31.3046853 79.9341216,33.3296857 L64.1773901,23.759802 L65.3653976,23.1968677 C65.6780312,23.0561351 66.7409853,22.8606703 67.9289928,22.8841264 Z" id="Plane-1" fill="#a5dc69" fill-rule="nonzero")
            path(class="jet" d="M8,76.2398265 L17.6181507,79 C29.6181507,73 35.6181507,70 35.6181507,70" id="Line" stroke="#a5dc69" stroke-width="4" stroke-linecap="round" stroke-linejoin="bevel")
            path(class="jet" d="M8,66.2398265 L17.6181507,69 C29.6181507,63 35.6181507,60 35.6181507,60" id="Line" stroke="#a5dc69" stroke-width="4" stroke-linecap="round" stroke-linejoin="bevel")
            path(class="jet" d="M7.88184931,55.7398265 L17.5,58.5 C29.5,52.5 35.5,49.5 35.5,49.5" id="Line" stroke="#a5dc69" stroke-width="4" stroke-linecap="round" stroke-linejoin="bevel")